<%- include('../partials/header') %>
<h3>DAFTAR PROFIL GANSZ</h3>
<ul>
  <% profiles.forEach(function(item) { %>
  <li><a href="/profile/<%= item.username%>"><%= item.name%></a></li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>
