<%- include('../partials/header') %>
<h3>DAFTAR PROFIL GANSZ</h3>
<ul>
    <li><a href="/profile/Adi">Adi</a></li>
    <li><a href="/profile/Pras">Pras</a></li>
</ul>
<%- include('../partials/footer') %>