<%- include('../partials/header') %>
        <h1>Haii, <%= name %></h1>
        <h3>Data diri</h3>
        <ul>
            <li>Nama : <%= name %>!</li>
            <li>TTL : Kbm, 01/07/97</li>
            <li>Gender : L</li>
            <li>Pronounce : Manly Man</li>
        </ul>
<%- include('../partials/footer') %>